.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__footer {
  display: flex;
  align-items: center;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.tweetBox__icons {
  padding-left: 50px;
}

.tweetBox__icons > .MuiSvgIcon-root {
  padding-left: 10px;
  cursor: pointer;
  color: var(--twitter-color);
}

.tweetBox__icons > label {
  color: var(--twitter-color);
  cursor: pointer;
}



.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  font-size: .8rem !important;
  height: 40px !important;
  margin-left: auto !important;
}

.tweetBox__inputImg {
  display: none;
}
